{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">MY CONTACT</h1>
    <hr class="my-2">
</div>
<style>
    p.alignleft {
      margin: 35px;
    }
</style>
<p class="alignleft">
    Phone Number : 095-550-5549
    <br>Email : 61011049@kmitl.ac.th
    <br><a href="https://web.facebook.com/kong.supapatprangpant">Facebook</a>
</p>

<p align="center"><img src="static/images/swimming.gif"></p>
{% endblock %}